<div class="loginpage-wrapper">
	<div class="container">
		<form class="formlogin">

				<div class="menubox-login">
				<a href="test.html" class="no-underline">LOGIN</a>
				 <a href="test.html" class="no-underline">REGISTER</a>
					</div>
			<input type="text" class="username" placeholder="Username"/>
			<input type="password" class="password" placeholder="Password"/>

			<!-- <input type="submit" name="submit" class="loginsubmit" value="Login"/> -->
			<button type="button" class="loginsubmit">LOGIN</button>
		</form>
	</div>
</div>