
/** LOGIN PROPERTIES **/
.loginpage-wrapper {
	width: 100%;
	height: 100%;
	display: block;
}

.container  {
	width: 400px;
	height: 350px;
	margin: 180px auto;
	background-color: #FFFFFF;
    box-shadow: 2px 5px 10px #3e3e3e;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: #246B3C;
}	

.formlogin {
	width: 100%;
	height: 100%;
	padding: 20px 50px 20px 50px;
}

input {
    width: 70% !important;
    height: 35px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    border-radius: 5px;
    text-indent: 4px;
}

.loginsubmit {
    width: 40%;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px;
    background-color: #2BA454;
    color: #fff;
}
.no-underline {
    text-decoration: none;
    color:#246B3C;
    margin: auto;
    font-size: 20px;
}
.menubox-login {
    padding-bottom: 30px;
  
}